# Week 2 Day 2: Functions
A function is a block of code which only runs when it is called.
You can pass data, known as parameters, into a function.
A function can return data as a result.

In Python a function is defined using the def keyword.

Information can be passed into functions as arguments.
Arguments are specified after the function name, inside the parentheses. You can add as many arguments as you want, just separate them with a comma.
*The terms parameter and argument can be used for the same thing: information that are passed into a function.*
From a function's perspective:

----A parameter is the variable listed inside the parentheses in the function definition.

----An argument is the value that is sent to the function when it is called.

There are some functions that are built into python that you do not need to build in order to call them.

Built in functions
- type()
- min()
- max()
- len()
- int()
- float()
- str()

### Defining a function

In [5]:
# Make a function to that prints out 'this is my first function'

def myFirstFunction():
    print("This is my first function")

In [7]:
# call the function
myFirstFunction()

This is my first function

In [9]:
# make a funciton that prints out many print statements

def printLyrics():
    print("There's always gonna be another mountain")
    print("I'm always gonna wanna make it move")
    print("Always gonna be an uphill battle")

In [13]:
# call the function
printLyrics()

There's always gonna be another mountain
I'm always gonna wanna make it move
Always gonna be an uphill battle

In [19]:
#put it in an if statement 

a = 10

if (a == 10):
    myFirstFunction()

else:
    print("jk idk how to do this yet")

This is my first function

In [25]:
#make another function that adds two variables together

def addVarFunction():
    var1 = 5
    var2 = 7

    print(var1+var2)

In [27]:
#call the second function
addVarFunction()

12

In [31]:
print(var1)
# not defined, only exists within the task of the function

NameError: name 'var1' is not defined

In [33]:
#make a third funciton that adds two values adn returns the new value

def myThirdFunction():
    var1 = 19
    var2 = 2

    return var1 + var2

In [39]:
# assign that function to a value
myValue = myThirdFunction()

#check

myValue

21

In [41]:
# pass argument

def passFunct():
    pass

passFunct()

### Arguments and default values

Arguments are specified after the function name, inside the parentheses. You can add as many arguments as you want, just separate them with a comma.
*The terms parameter and argument can be used for the same thing: information that are passed into a function.*

In [43]:
#make a function with three arguments that returns the sum of the three arguments

def SumFunction(val1, val2, val3):
    return val1 + val2 + val3

In [47]:
#call the function

answer = SumFunction(1, 2, 3)
answer

6

In [49]:
# make a function that takes in a first and last name and returns a string of a full name

def fullName(firstName, lastName):
    return firstName + " " + lastName

In [51]:
#call the name function

fullName("Nora", "Goldsmith")

'Nora Goldsmith'

In [53]:
# make a function that takes in a first and last name as well as an argument called 'occupation' 
# make the degault occupation 'student'
# retun a string that has the names and occupation

# the argument becomes optional if we define it (default)

def fullNameInfo(fName, lName, occupation = "Student"):
    return fName + " " + lName + " is a " + occupation

In [55]:
# call the function without the third argument

fullNameInfo("Nora", "Goldsmith")

'Nora Goldsmith is a Student'

In [59]:
# call the function with a new occupation

fullNameInfo("Nora", "Goldsmith", "Welder")

'Nora Goldsmith is a Welder'

### Scopes

a funciton has its own scope. Things that are mutated within the funciton aren't necessarily changed outside of the function. This means that you can call and create a variable outside of the function and reference the a variable by the same name. However, this doesn't overwright the original variable because the second one is only referencable and called within the function

In [9]:
# assign a variable


# make a function that has the variable as an argument
# have it return the mutated variable



#print the output of the funciton and the original variable

In [10]:
# make a variable


# make a function that prints the variable with 5 added to it


# call the funciton and print the original variable

### Arbitrary Arguments, *args


This way the function will receive a tuple of arguments, and can access the items accordingly:

In [11]:
# make function that can take in as many arguments as it needs
# print the 2nd item in the arguments

In [ ]:
# make function that can take in as many arguments as it needs
# make the arguments a list of names
# print 'The youngest child is'... and then add the first name in the list of names

### Arbitrary Keyword Arguments, **kwargs

This way the function will receive a dictionary of arguments, and can access the items accordingly:

In [12]:
#make a function that asks for variables to be defined within the argument of the function
# reference 'lname' within the function

In [13]:
#keyword arguments
#make a function that sets the arugment variables within the function call
#call one of the keyword arugments within the funciton

In [14]:
# passing a list as an argument
# define a funciton with a list as an argument
# return a sum of the list
# make the argument a list of numbers

### Built in Functions

These functions are built in python and are referencable without having to define them

Array functions
- type()
- min()
- max()
- len()


Type conversion functions
- int()
- float()
- str()

In [16]:
# create a string variable

In [15]:
#check the type of the variable

In [16]:
# Find the minimum of that variable

In [18]:
#find the maximum of that variable

In [17]:
#find the length of that variable

In [20]:
#make a string of numbers

In [21]:
#find the type of the variable

str

In [19]:
# reassign the variable to be an integer


#check

In [20]:
#check the type while reassigning the variable to be a float

### Random Numbers

In [24]:
#import

In [21]:
# make a for loop of 10 iterations
# print a random number in each iteration

## Excrcise 1

Write the grade program from the previous chapter using
a function called computegrade that takes a score as its parameter and
returns a grade as a string.

Score Grade

- />= 0.9 A
- />= 0.8 B
- />= 0.7 C
- />= 0.6 D
- /< 0.6 F

Enter score: 0.95
A

## Excercise 2

You roll two six-sided dice, each with faces containing one, two, three, four, five and six spots, respectively. When the dice come to rest, the sum of the spots on the two upward faces is calculated. If the sum is 7 or 11 on the first roll, you win. If the sum is 2, 3 or 12 on the first roll (called “craps”), you lose (i.e., the “house” wins). If the sum is 4, 5, 6, 8, 9 or 10 on the first roll, that sum becomes your “point.” To win, you must continue rolling the dice until you “make your point” (i.e., roll that same point value). You lose by rolling a 7 before making your point.