# Week 2 Day 3: Classes

- what is a class
- scope

#### Methods vs Functions

In [12]:
# make a class with two methods in it

In [1]:
#what is the class?

In [2]:
# call the first method within

In [3]:
# call the second method within

In [5]:
#create an instance of the class

In [6]:
#call the method within the instance

#### Class initialization __ init __ and methods

In [7]:
# make a class with a function that intializes a name and age as arguments
# make a method that prints out the name and age of the

In [3]:
#create an object/ class instance

In [8]:
# what is this object?

In [9]:
#get the name variable within the object

In [10]:
#get the age variable within the object

In [11]:
# call the method within the class

In [12]:
# make a class with name, age, and with a keyword argument of occupation with 'student 
# create a method with to print all of the argumetns
# create a method that takes in a list of grades and prints the sum of those grades
# create a method that prints out  the list of grades

In [ ]:
# create an instance

In [13]:
# what is the type of this instance?

In [14]:
# create another instance of the Person class with other arguments

In [15]:
# what is the type of this instance?

In [16]:
#get the name of the first person

In [17]:
#get the age of the second person

In [18]:
#get the occupation of the second person

In [19]:
# call the method that prints out the information for person 1

#### Passing Arguments

In [31]:
#make a third instance

In [20]:
# call the method to print information

In [21]:
# call the method to get the grades list

In [22]:
# call the method that sums the grades list

In [23]:
# call the method taht gets the grades list again

In [40]:
# create a class that assigns two arguments and 
# has a method that prints the arguments
# has a method that has a list of tasks

In [24]:
# assign an instance with a name and an age

In [25]:
# define the list

#### Updating Variables

In [26]:
# updating the name

In [27]:
# update the lyst