In [18]:
import csv

In [99]:
import pandas as pd

In [206]:
myDict = {}

with open("data/2024-annual-report-report-data-all-states.csv", "r", encoding = "utf-8", errors = "replace") as file:

    csvReader = csv.reader(file, delimiter = ",")
    next(csvReader)

    for row in csvReader:
        factor = row[1]
        state = row[2]
        value = row[3]
        rank = row[5]

        if state == "HI" or state == "IA" or state == "ND" or state == "MI" or state == "WV":
            if state not in myDict:
                myDict[state] = {}
                
            if factor == "Depression":
                myDict[state]["Depression"] = value
                myDict[state]["Depression Ranking"] = rank
                
            if factor == "Insufficient Sleep":
                myDict[state]["Insufficient Sleep"] = value

            if factor == "Adverse Childhood Experiences":
                myDict[state]["Adverse Childhood Experiences"] = value

            if factor == "Poverty":
                myDict[state]["Poverty"] = value

In [208]:
pd.DataFrame(myDict)

                                 HI    IA    MI    ND    WV
Poverty                        10.3  11.6  13.8  11.1  17.2
Adverse Childhood Experiences  13.2  16.3  18.2  17.9    20
Insufficient Sleep             45.6  32.9  35.2  33.2  41.3
Depression                     13.9  19.2  24.1  22.3  31.1
Depression Ranking                1    13    36    25    48