## Week 2 Day 1 - Loops
- While loops
- For loops
- nested loops
- strings
- dictionaries

### Updating variables

In [1]:
# make a variable

x = 5
#add one to it
x = x + 1

#check
print(x)

6

In [3]:
#subtract
x -= 30

print(x)

-24

In [7]:
#multiply
x *= 20
print(x)

-9600

### While loop

A while loop is a control flow statement that allows code to be executed repeatedly based on a given Boolean condition. The while loop can be thought of as a repeating if statement. 

With the **break** statement we can stop the loop even if the while condition is true. 

With the **continue** statement we can stop the current iteration, and continue with the next.

With the **else** statement we can run a block of code once when the condition no longer is true

In [9]:
#define a variable 

n = 10
#make a while loop to print n while it is greater than 0 and subtract one wiht every loop
#print blastoff when done

while n > 0:
    print(n)
    n -= 1

print("Blastoff!")

10
9
8
7
6
5
4
3
2
1
Blastoff!

In [15]:
#make a counter
counter = 0

#define another variable 
mVar = 1

#while the counter is less than or equal to 10, mutliply the variable by the counter
#print the both variables

while counter <= 10:
    counter += 1

    # multiply variable by counter
    mVar *= counter

    # print both variables
    print(counter)
    print(mVar)

1
1
2
2
3
6
4
24
5
120
6
720
7
5040
8
40320
9
362880
10
3628800
11
39916800

In [19]:
#make a new while loop that allows for input

#print 'Done!' when broken

while True:
    line = input('Type here: ')

    #when the user types 'done' break the loop
    if line == 'done':
        break

    print(line)

print("Done!")

Type here:  hello

hello

Type here:  world

world

Type here:  haha

haha

Type here:  fast

fast

Type here:  slow

slow

Type here:  done

Done!

In [7]:
#make a new while loop that allows for input
# if the first thing in the line is a # continue
# if they type 'done' break
#print 'Done!' when broken

## Excercise1:
 
write an input statement assigned to a specific value. Then make a while loop to read a number and print out the even values between 0 and the inserted number

## For loops

A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string). With the for loop we can execute a set of statements, once for each item in a list, tuple, set etc.

Even **strings** are iterable objects, they contain a sequence of characters

With the **break** statement we can stop the loop before it has looped through all the items

With the **continue** statement we can stop the current iteration of the loop, and continue with the next

To loop through a set of code a specified number of times, we can use the **range()** function.
The **range()** function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and ends at a specified number. The range() function defaults to 0 as a starting value, however it is possible to specify the starting value by adding a parameter: range(2, 6), which means values from 2 to 6 ***(but not including 6)***. The range() function defaults to increment the sequence by 1, however it is possible to specify the increment value by adding a third parameter: range(2, 30, 3). 

The **enumerate()** method adds a counter to an iterable and returns it in the form of an enumerating object. This enumerated object can then be used directly for loops or converted into a list of tuples using the list() function.

The **else** keyword in a for loop specifies a block of code to be executed when the loop is finished

In [21]:
#lets make a list of names

friends = ['Ally', 'Dave', 'Margot']

#lets iterate through the list of friends 
# print out, 'Happy New Year,...' to every friend

for friend in friends:
    print('Happy New Year, ', friend)

print("Done!")

Happy New Year,  Ally
Happy New Year,  Dave
Happy New Year,  Margot
Done!

In [23]:
#make a counter that increases each iteration and counts how many values are in the list
# 99, 40, 13, 107, 45

count = 0

for itervar in [99, 40, 13, 107, 45]:
    count = count + 1

print('Count: ', count)

Count:  5

In [27]:
#using range(), make a for loop that iterates 10 times
for number in range(10):
    print(number)

0
1
2
3
4
5
6
7
8
9

In [39]:
# lets find the largest number in a list of numbers
# 99, 40, 13, 107, 45

largest = None
prevNumber = 99

for itervar in [99, 40, 13, 107, 45]:
    print("i = ", itervar)
    print("prev = ", prevNumber)
    print("Largest = ", largest)
    
    if itervar > prevNumber:
        largest = itervar


    prevNumber = itervar

print("Largest = ", largest)

i =  99
prev =  99
Largest =  None
i =  40
prev =  99
Largest =  None
i =  13
prev =  40
Largest =  None
i =  107
prev =  13
Largest =  None
i =  45
prev =  107
Largest =  107
Largest =  107

In [43]:
largest = 0

for itervar in [99, 40, 80, 13, 107, 45, 80]:
    if itervar > largest:
        largest = itervar

print(largest)

107

In [ ]:
# lets make a list of list

myList = [
]

In [10]:
#make a for loop that assignes a variable for each position in the second level list
#print each variable

In [ ]:
# get the first item in each sublist

In [11]:
#using enumerate (), iterate throuhg a list and print out the counter

In [13]:
#make a list of lists of numbers
#iterate through both levels of lists using a nested for loop
# add up all of the numbers in each sub list

In [14]:
# make two lists
# using nested for loops, after every variable in lyst 1 print the varible in the second list

### Excercise 2
1. Write a loop that reads a set of values and appends them to a list.
2. sort the values in the list
3. Print out the list using a for loop in the following formatting.
  - item 1: -----

## Strings
Strings in python are surrounded by either single quotation marks, or double quotation marks.'hello' is the same as "hello".

Like many other popular programming languages, strings in Python are arrays of bytes representing unicode characters.

However, Python does not have a character data type, a single character is simply a string with a length of 1.

Square brackets can be used to access elements of the string.

Since strings are arrays, we can loop through the characters in a string, with a for loop.

To check if a certain phrase or character is present in a string, we can use the keyword **in**. To check if a certain phrase or character is NOT present in a string, we can use the keyword **not in**.


To check if a certain phrase or character is present in a string, we can use the keyword in.

**Methods**
- len()
- upper()
- find()
- startswith()
- strip()
- rstrip()
- replace()

In [ ]:
# make a string variable

In [15]:
#get the first letter in that string

In [16]:
#get the last letter in that string

In [17]:
#get the length of the string

In [18]:
#use a for loop and print every letter in that string

In [19]:
#try to reassign the first letter in a string

In [20]:
#check if a sub string is a part of a string

In [21]:
#make the string all uppercase

In [22]:
#find at what index a letter is in a string

In [23]:
# will get me the index of the passed value

In [24]:
#check if the string starts with a specific char.

### lists and strings
- split
- join

In [25]:
#check string

In [26]:
# convert a string to a list

In [27]:
#use .join to add to every string in the string list

## Excercise 3

str = 'X-DSPAM-Confidence:0.8475'

Use find and string slicing to extract the portion of the string after the
colon character and then use the float function to convert the extracted
string into a floating point number.

## Looping and dictionaries

Remember: 
Dictionaries are used to store data values in key:value pairs.

A dictionary is a collection which is ordered*, changeable and do not allow duplicates. Dictionaries are written with curly brackets, and have keys and values.

ex: counts = { 'chuck' : 1 , 'annie' : 42, 'jan': 100}


**with for loops** 

You can loop through a dictionary by using a for loop.
When looping through a dictionary, the return value are the keys of the dictionary, but there are methods to return the values as well.

The **get()** method returns the value of the item with the specified key.

In [28]:
# make a dictionary


# print the value of every key

In [29]:
#make a dicitonary of letters in a string and how many of those letters there are

counting characters using get

In [30]:
# with '.get()' do the same thing

In [31]:
#print the items of a dictionary in alphabetical order

## Putting it all together

**Excercise**
- Create a dictionary with four grocery items and their prices
- Using input, read items and store them in a list
- Print out the total price of the inserted items